<p class="content">Welcome to this is wonderful place to work</p>
<div class="cell"><b>Apfel</b>
  <p>Preis: 1,99€</p><img src="assets/images/obst.jpg" class="cellImg"></div>
<div class="cell"><b>Banane</b>
  <p>Preis: 1,15€</p><img src="assets/images/obst.jpg" class="cellImg"></div>
<div class="cell"><b>Trauben</b>
  <p>Preis: 3,99€</p><img src="assets/images/obst.jpg" class="cellImg"></div>
<div class="cell"><b>Zitrone</b>
  <p>Preis: 0,79€</p><img src="assets/images/obst.jpg" class="cellImg"></div>
<div class="cell"><b>Orange</b>
  <p>Preis: 2,49€</p><img src="assets/images/obst.jpg" class="cellImg"></div>
<div class="cell"><b>Paprika</b>
  <p>Preis: 2,39€</p><img src="assets/images/obst.jpg" class="cellImg"></div>
